/* Default (Night) Mode */
* {
    font-family: Helvetica;
    background-color: black;
    color: gray;
}

body {
    background-color: black;
    color: gray;
}

a { 
    text-decoration: none;
    font-weight: bold;
    color: lightgray;
}

a:hover { 
    color: white;
}

#introduction {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: justify;
}

.skill {
    float: left;
    padding-right: 5%;
}

.mbox {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.title {
    color: white;
    text-align: left;
    font-weight: bold;
}

.content {
    text-align: justify;
}

.jname {
    float: left;
    text-align: left;
}

.jdates {
    float: right;
    text-align: right;
}

/* Light Mode */
body.light-mode,
.light-mode * {
    background-color: white !important;
    color: black !important;
}

.light-mode a {
    color: rgb(0, 0, 0) !important;
}

.light-mode a:hover {
    color: rgb(0, 0, 0) !important;
}
